:root{
  color-scheme: light dark;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.chat-container {
  max-width: 400px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.chat-box {
  padding: 20px;
  max-height: 400px;
  overflow-y: auto;
  list-style: none;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  max-width: 70%;
}

.received {
  background-color: #c7ffe3;
  align-self: flex-start;
  color: #000
}

.container-sent {
  display: flex;
  justify-content: end;
}
.sent {
  background-color: #b8d8ff;
  align-self: flex-end;
  color: #000
}

.input-container {
  display: flex;
  padding: 10px;
}

.input-container input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
}

.input-container button {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  outline: none;
}

.input-container button:hover {
  background-color: #0056b3;
}